/*
style.css
for use with HTML clock
Andy Felong
08 Sep 2016
*/

body, div {
	font-family: Verdana, Geneva, sans-serif; 
	font-size: 320px;  /* adjust to preference and display size */
	background-color: #000000;
	color: #881200;  /* dim scarlet */
}



header, a {
	padding-top: 50px;
	text-align: center;
	padding-left: 20px;
	font-family: Verdana, Geneva, sans-serif; 
	font-size: 40px;  /* adjust to preference and display size */
	color: #881200;  /* dim scarlet */	
}

.timediv {
	padding-top: 50px;
	padding-left: 50px;
	font-size: 60%; 
	max-width: 400px; /* use the width of the display */
	text-align: center;
}

.tempdiv {
	font-size: 30%;
	padding-left: 139px;
	padding-top: 25px;
	max-width: 400px; 
	text-align: center; 
}
